* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column; /* Thay đổi hướng của flex container */
}

body {
  background-color: #ecf0f1; /* Màu xanh lá cây nhạt */
  color: #333; /* Màu chữ */
  font-family: Arial, sans-serif; /* Font chữ */
  margin: 0;
  padding: 0;
}

header {
  background-color: #6ab04c;
  color: #fff;
  padding: 20px 40px;
  width: 100%; /* Điều chỉnh chiều rộng của header */
  /* Loại bỏ margin-left */
  height: 90px;
  display: flex; /* Sử dụng flexbox để căn giữa */
  align-items: center;
  position: fixed;
  z-index: 2;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.center-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.center-header h2 {
  text-align: center;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}

.logo img {
  height: 80px;
}

.notifications .fas {
  font-size: 28px; 
}

.notifications i {
  color: white;
}

.notifications i:hover {
  color: gold;
}

.profile .fas {
  font-size: 28px;
}

.profile i:hover {
  color: gold;
}

.showhidebutton .fas {
  font-size: 28px;
}

.showhidebutton i:hover {
  color: gold;
}

/* Chỉnh profile */
.profile .dropdown {
  display: none;
  position: absolute;
  right: 20px;
  background-color: #f8f8f8; /* Màu nền mới */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Đổ bóng mạnh hơn */
  border-radius: 8px; /* Bo góc tròn hơn */
  overflow: hidden;
  transition: all 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
}

.profile:hover .dropdown {
  display: block;
  opacity: 1; /* Đảm bảo dropdown hoàn toàn hiển thị */
}

.dropdown-content a {
  display: block;
  padding: 12px 20px; /* Đệm rộng hơn */
  color: #555; /* Màu chữ tối hơn */
  text-decoration: none;
  font-size: 16px; /* Kích thước chữ lớn hơn */
  transition: background-color 0.2s ease-in-out; /* Hiệu ứng mượt mà khi hover */
}

.dropdown-content a:hover {
  background-color: #eaeaea; /* Màu nền khi hover */
  color: #333; /* Màu chữ khi hover */
}

/* Chỉnh navigation */
nav {
  width: 17%; /* Điều chỉnh chiều rộng của nav */
  height: calc(100vh - 80px); /* Điều chỉnh chiều cao trừ đi chiều cao của header */
  background-color: #343a40; /* Màu nền */
  color: #fff; /* Màu chữ */
  padding: 20px; /* Khoảng cách bên trong */
  left: 0; /* Đặt nav bên trái */
  top: 90px; /* Đặt nav dưới header, giả sử header cao 90px */
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
  display: block;
  position: fixed; /* Cố định nav */
  float: left; /* Căn trái nav */
  z-index: 1; /* Cho nav đè lên phần tử khác */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.welcome p, .inner-nav p {
  margin: 10px 0;
  font-weight: bold;
}

.inner-nav ul {
  list-style-type: none;
}

.inner-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: padding-left 0.3s ease;
}

.inner-nav {
  /* Add a bottom border */
  border-bottom: 2px solid #ccc; /* Light gray border */
  padding-bottom: 20px; /* Add some space at the bottom inside the section */
  margin-bottom: 20px; /* Add some space at the bottom outside the section */

  /* Add a shadow for a more modern look */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.inner-nav:not(:last-child) {
  /* Add a bottom border */
  border-bottom: 2px solid #ccc; /* Light gray border */
  padding-bottom: 20px; /* Add some space at the bottom inside the section */
  margin-bottom: 20px; /* Add some space at the bottom outside the section */

  /* Add a shadow for a more modern look */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.inner-nav ul li a:hover {
  background-color: #6ab04c;
  padding-left: 20px;
  border-radius: 20px;
}

main {
  margin-top: 90px;
}

article {
  width: 83%;
  float: right;
  padding: 20px;
}

/* Style the footer */
footer {
  background-color: #6ab04c;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Bố cục responsive - làm cho hai cột/hộp xếp chồng lên nhau thay vì nằm cạnh nhau trên màn hình nhỏ */
@media only screen and (max-width: 600px) {
  header {
    height: 90px;
  }

  nav {
    width: 67%;
    top: 90px;
    display: none;
    position: fixed;
  }

  article {
    width: 100%;
    height: 100%;
  }

  header {
    font-size: 12px;
  }

  .logo img {
    height: 40px;
  }

  .notifications .fas {
    font-size: 24px; 
  }
  
  .profile .fas {
    font-size: 24px;
  }

  .showhidebutton .fas {
    font-size: 24px;
  }
}

.dashboard-table table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
}

/* Tùy chỉnh các nút */
.check-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.check-button:hover {
  background-color: #6ab04c;
}

.check-button-wide {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.check-button-wide:hover {
  background-color: #6ab04c;
}

.accept-button {
  background-color: #0a78fc;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.accept-button:hover {
  background-color: #6ab04c;
}

.accept-button-big {
  background-color: #0a78fc;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.accept-button-big:hover {
  background-color: #6ab04c;
}

.cancel-button {
  background-color: #f01445;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button:hover {
  background-color: #6ab04c;
}

.cancel-button-big {
  background-color: #f01445;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button-big:hover {
  background-color: #6ab04c;
}

/* Tùy chỉnh giao diện trang cá nhân */
.profile-container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
}

.profile-container form .form-group {
  margin-bottom: 15px;
}

.profile-container form .form-group label {
  font-weight: bold;
}

.profile-container form .form-group input,
.profile-container form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-container form .form-group textarea {
  resize: vertical;
}

.profile-container form button {
  padding: 10px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container form button:hover {
  background-color: #6ab04c;
}

/* Tùy chỉnh giao diện cài đặt*/
.settings-container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.settings-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.settings-container form {
  display: flex;
  flex-direction: column;
}

.settings-container form .form-group {
  margin-bottom: 15px;
}

.settings-container form .form-group label {
  font-weight: bold;
}

.settings-container form .form-group select,
.settings-container form .form-group input[type="checkbox"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settings-container form button {
  padding: 10px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-container form button:hover {
  background-color: #6ab04c;
}

.container h1 {
  font-size: 20px;
}

.container h2 {
  font-size: 20px;
}

.container h3 {
  font-size: 16px;
}

.dashboard h1 {
  font-size: 20px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  margin-bottom: 7px;
}